<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ml" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MachineLearning</name>
    <js-module name="MachineLearning" src="www/MachineLearning.js">
        <clobbers target="cordova.plugins.MachineLearning" />
    </js-module>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MachineLearning">
                <param name="android-package" value="cordova-plugin-ml.MachineLearning" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <lib-file src="src/android/libs/neochi.jar" />
        <source-file src="src/android/MachineLearning.java" target-dir="src/cordova_plugin_ml/MachineLearning" />
        <framework src="org.nd4j:nd4j-native-platform:1.0.0-beta3" />
        <framework src="org.json:json:20180813"/>
    </platform>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MachineLearning">
                <param name="ios-package" value="MachineLearning" />
            </feature>
        </config-file>
        <source-file src="src/ios/MachineLearning.m" />
    </platform>
</plugin>